# ABIYA SABITTA RAGADANI || 05111940000166
MID-TERM EXAM

# Recommendation System using FP-Growth

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Import Apache Spark SQL
#from pyspark.sql import SparkSession

# Create Spark Session/Context
# We are using local machine with all the CPU cores [*]
#spark = SparkSession.builder \
    #.master("local[*]") \
    #.appName("Hello Pyspark") \
   # .config("spark.some.config.option", "some-value") \
   # .getOrCreate()

## Read Dataset

In [3]:
import pandas as pd
data = pd.read_excel('market-basket.xlsx')
data.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,3.39,17850.0,United Kingdom

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,3.39,17850.0,United Kingdom

## Select useful columns

In [ ]:
df1 = data[['CustomerID','BillNo','Itemname']]
df1.head()

   CustomerID  BillNo                             Itemname
0     17850.0  536365   WHITE HANGING HEART T-LIGHT HOLDER
1     17850.0  536365                  WHITE METAL LANTERN
2     17850.0  536365       CREAM CUPID HEARTS COAT HANGER
3     17850.0  536365  KNITTED UNION FLAG HOT WATER BOTTLE
4     17850.0  536365       RED WOOLLY HOTTIE WHITE HEART.

## Group item name with the bill number

In [ ]:
df=df1.groupby ('BillNo') ['Itemname']. apply (lambda x: x.reset_index (drop = True)). unstack (). reset_index ()
df.drop('BillNo',axis=1, inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113
0,WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL LANTERN,CREAM CUPID HEARTS COAT HANGER,KNITTED UNION FLAG HOT WATER BOTTLE,RED WOOLLY HOTTIE WHITE HEART.,SET 7 BABUSHKA NESTING BOXES,GLASS STAR FROSTED T-LIGHT HOLDER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HAND WARMER UNION JACK,HAND WARMER RED POLKA DOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASSORTED COLOUR BIRD ORNAMENT,POPPY'S PLAYHOUSE BEDROOM,POPPY'S PLAYHOUSE KITCHEN,FELTCRAFT PRINCESS CHARLOTTE DOLL,IVORY KNITTED MUG COSY,BOX OF 6 ASSORTED COLOUR TEASPOONS,BOX OF VINTAGE JIGSAW BLOCKS,BOX OF VINTAGE ALPHABET BLOCKS,HOME BUILDING BLOCK WORD,LOVE BUILDING BLOCK WORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JAM MAKING SET WITH JARS,RED COAT RACK PARIS FASHION,YELLOW COAT RACK PARIS FASHION,BLUE COAT RACK PARIS FASHION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BATH BUILDING BLOCK WORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
items = (df[0].unique())
items

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'HAND WARMER UNION JACK',
       'ASSORTED COLOUR BIRD ORNAMENT', ...,
       'PAPER CRAFT , LITTLE BIRDIE', 'COCKLE SHELL DISH',
       'Adjust bad debt'], dtype=object)

## Encode Values

In [ ]:
encoded_vals = []
def custom():
    for index, row in df.iterrows():
        labels = {}
        uncommons = list(set(items) - set(row))
        commons = list(set(items).intersection(row))
        for uc in uncommons:
            labels[uc] = 0
        for com in commons:
            labels[com] = 1
        encoded_vals.append(labels)
custom()
ohe_df = pd.DataFrame(encoded_vals)
print(ohe_df)

       SMALL GLASS SUNDAE DISH CLEAR  3D CHRISTMAS STAMPS STICKERS  \
0                                  0                             0
1                                  0                             0
2                                  0                             0
3                                  0                             0
4                                  0                             0
...                              ...                           ...
21658                              0                             0
21659                              0                             0
21660                              0                             0
21661                              0                             0
21662                              0                             0

       CARD HOLDER GINGHAM HEART  TEA TIME DES TEA COSY  \
0                              0                      0
1                              0                      0
2                              0                      0
3                              0                      0
4                              0                      0
...                          ...                    ...
21658                          0                      0
21659                          0                      0
21660                          0                      0
21661                          0                      0
21662                          0                      0

       PACK OF 72 RETROSPOT CAKE CASES  SET/4 BIRD MIRROR MAGNETS  \
0                                    0                          0
1                                    0                          0
2                                    0                          0
3                                    0                          0
4                                    0                          0
...                                ...                        ...
21658                                0                          0
21659                                0                          0
21660                                0                          0
21661                                0                          0
21662                                0                          0

       EMBROIDERED RIBBON REEL DAISY  WHITE TRAVEL ALARM CLOCK  \
0                                  0                         0
1                                  0                         0
2                                  0                         0
3                                  0                         0
4                                  0                         0
...                              ...                       ...
21658                              0                         0
21659                              0                         0
21660                              0                         0
21661                              0                         0
21662                              0                         0

       CHRISTMAS CARD SINGING ANGEL  ASSORTED BOTTLE TOP  MAGNETS  ...  \
0                                 0                             0  ...
1                                 0                             0  ...
2                                 0                             0  ...
3                                 0                             0  ...
4                                 0                             0  ...
...                             ...                           ...  ...
21658                             0                             0  ...
21659                             0                             0  ...
21660                             0                             0  ...
21661                             0                             0  ...
21662                             0                             0  ...

       CINDERELLA CHANDELIER  KEY FOB , SHED  NaN  \
0                          0               0    1
1                          0               0    1
2                          0               0    1
3                          0               0    1
4                          0               0    1
...                      ...             ...  ...
21658                      0               0    1
21659                      0               0    1
21660                      0               0    1
21661                      0               0    1
21662                      0               0    1

       GLASS STAR FROSTED T-LIGHT HOLDER  RED WOOLLY HOTTIE WHITE HEART.  \
0                                      1                               1
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               0
...                                  ...                             ...
21658                                  0                               0
21659                                  0                               0
21660                                  0                               0
21661                                  0                               0
21662                                  0                               0

       SET 7 BABUSHKA NESTING BOXES  KNITTED UNION FLAG HOT WATER BOTTLE  \
0                                 1                                    1
1                                 0                                    0
2                                 0                                    0
3                                 0                                    0
4                                 0                                    0
...                             ...                                  ...
21658                             0                                    0
21659                             0                                    0
21660                             0                                    0
21661                             0                                    0
21662                             0                                    0

       CREAM CUPID HEARTS COAT HANGER  WHITE METAL LANTERN  \
0                                   1                    1
1                                   0                    0
2                                   0                    0
3                                   0                    0
4                                   0                    0
...                               ...                  ...
21658                               0                    0
21659                               0                    0
21660                               0                    0
21661                               0                    0
21662                               0                    0

       WHITE HANGING HEART T-LIGHT HOLDER
0                                       1
1                                       0
2                                       0
3                                       0
4                                       0
...                                   ...
21658                                   0
21659                                   0
21660                                   0
21661                                   0
21662                                   0

[21663 rows x 2907 columns]

## Find Support for the items

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

freq_items = apriori(ohe_df, min_support=0.006, use_colnames=True) #, verbose=1 #min_support=0.006, 
freq_items

In [ ]:
freq_items.to_excel('Export&Supportvalues.xlsx')

## Find the confidence of the rules

In [ ]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.006)
rules

## Display the confidence and support

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(rules['support'], rules['confidence'], alpha=0.2,color='brown')
plt.xlabel('support')
plt.ylabel('confidence')
plt.title('Support vs Confidence')
plt.show()

In [ ]:
plt.scatter(rules['support'], rules['lift'], alpha=0.2,color='orange')
plt.xlabel('support')
plt.ylabel('lift')
plt.title('Support vs Lift')
plt.show()

## Install necessary things

In [ ]:
%%capture
!sudo apt-get update --fix-missing

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
#!wget -q https://downloads.apache.org/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

!mv spark-3.0.0-bin-hadoop3.2.tgz sparkkk
!tar xf sparkkk
!pip install -q findspark

## Create spark session

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('fpgrowth') \
    .getOrCreate()

spark

## Create spark dataframe

In [ ]:
from google.colab import files
from pyspark.sql import functions as F
from pyspark.ml.fpm import FPGrowth
import pandas

sparkdata = spark.createDataFrame(data)
basketdata = sparkdata.dropDuplicates(['BillNo', 'Itemname']).sort('BillNo')
basketdata = basketdata.groupBy("BillNo").agg(F.collect_list("Itemname")).sort('BillNo')

## FP-Growth Algorithm

In [ ]:
#Frequent Pattern Growth – FP Growth is a method of mining frequent itemsets
fpGrowth = FPGrowth(itemsCol="collect_list(Itemname)", minSupport=0.006, minConfidence=0.006) 
model = fpGrowth.fit(basketdata)

# Display frequent itemsets.
items = model.freqItemsets
# Display generated association rules.
rules = model.associationRules
# transform examines the input items against all the association rules and summarize the
# consequents as prediction
transformed = model.transform(basketdata)

## Ouputs

### Output result

In [ ]:
# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow
result_pdf = items.select("*").toPandas()
result_pdf.head()

In [ ]:
result_pdf.to_excel('result_pdfItemsFreq.xlsx')

### Output Rules

In [ ]:
rules_pdf = rules.select("*").toPandas()
rules_pdf.head()

In [ ]:
rules_pdf.to_excel('rules_pdfAnteConseConfLift.xlsx')

### Ouput Predictions

In [ ]:
transformed_pdf = transformed.select("*").toPandas()
transformed_pdf.head()

In [ ]:
transformed_pdf.to_excel('transformed_pdfSalesTransactionIDCollectListPred.xlsx')